html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    rgb(90, 106, 194) 0%,
    rgb(47, 37, 37) 100%
    );
    color: #fff;
}

button {
  background: #18315f;
  color: #fff;
  padding: 0 45px;
  border-radius: 25px;
  border: 2px solid #fff;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: #ba1237;
}